@media screen and (max-width: 700px) {

  h1 {
    font-size: 36px;
  }

  p {
    font-size: 16px;
  }

  .input {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 56px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .button {
    width: 400px;
  }

  .warning {
    font-size: 13px;
    font-style: italic;
    color: var(--Light-Red);
    position: relative;
    top: -5px;
    left: 90px;
    margin-bottom: 20px;
  }

  .image-container img {
    width: 500px;
  }

}

@media screen and (max-width: 550px) {
  
  .modal {
    width: 350px;
    height: 220px;
  }

  .modal h2 {
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  
  .modal p {
    padding: 0 30px;
    font-size: 20px;
    color: var(--Gray);
    font-weight: 600;
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 14px;
  }

  .input {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 56px;
  }

  .button {
    width: 320px;
  }

  .warning {
    left: 50px;
  }

  .image-container {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .image-container img {
    width: 350px;
  }

}